.navbar {
    /*text-align: center;
    color: aqua;
    font-weight: 500;
    background-color: green;*/
}
.btn-success {
    background-color: #025157;
    border: none;
}

.verde-matcha{
    color: #025157;
}

.sign {
    margin-right: 15px;
    
    color: #025157;;
}

a {
    text-decoration: none !important;
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.group__card1 .card {
  border: 0;
}

.group__card1 .card-header {
  box-shadow: 0 8px 24px rgba(0,0,0,.1);
  border: 1px solid #dadada;
  background-color: transparent;
  border-radius: 9px;
  overflow: hidden;
}

.group__card1 img {
  transition: all .3s ease-in-out;
}

.group__card1 img:hover {
  transform: scale(1.03) rotate(.3deg);
}
  
.card a:hover {
  color: #67B54B;
}
.carousel-item .col-12 .card img {
  height: 16vw;
}

#tools img {
  max-width: 38px;
}

.my-card-icon{
    height: 26px!important;
    width: 26px;
}


.carousel-item .col-12 .card:hover a{
    background-color: #67B54B;
    color: white;
}

#brands > img{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.btn-link{
    background-color: #67B54B;
    border: none;
    color: white;
}

.btn-link:hover{
    text-decoration: none;
    color: white;
}

#actions > button{
    margin-right: 0.75rem;
}

#actions > img{
    margin-left: 0.75rem;
}

.img-wrapper {
    position: relative;
   }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }

  .img-overlay button{
      opacity: .75;
  }

  .img-overlay button i {
      display: block;
  }